<footer class="footer container-fluid">
  <div class="">
    <span>
      <%= t ".website" %>
    </span>
    <span class="clock">
      <span id="Date"></span>
      <ul style="">
        <li id="hours"></li>
        <li id="point">:</li>
        <li id="min"></li>
        <li id="point">:</li>
        <li id="sec"></li>
      </ul>
    </span>
  </div>
</footer>
